<div class="container mx-auto mt-3">
    <app-page-header title="Odonto Scheduler"></app-page-header>
    <div class="row text-center mt-4">
        <p class="fs-3">Olá --user.name--, bem-vindo(a) ao Odonto Scheduler!</p>
    </div>
    <div class="row mt-4 d-flex justify-content-center">
        <!-- <div class="col-6">
            <app-home-option-card [optionCardData]="appointmentsCardData"  routerLink="consultas"></app-home-option-card>
        </div> -->
        <div class="col-6">
            <app-home-option-card [optionCardData]="patientsCardData" routerLink="pacientes"></app-home-option-card>
        </div>
    </div>
</div>