<div class="container mx-auto mt-3">
    <app-page-header title="Odonto Scheduler"></app-page-header>
    <div *ngIf="(authService.currentUser$ | async) as user" class="row text-center mt-4">
        <p class="fs-3">Olá {{ user.username }}, bem-vindo(a) ao Odonto Scheduler!</p>
    </div>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-6">
            <app-home-option-card title="Pacientes" subtitle="Agendar e visualizar pacientes"
                imageSrc="assets/images/patients-card-image.jpg" iconClass="patient-icon"
                cardContent="Na seção de Pacientes você pode visualizar, alterar e remover pacientes."
                [routerLink]="['/pacientes']">
            </app-home-option-card>
        </div>
    </div>
</div>