.home-option-card-icon {
  background-size: cover;
}

.patient-icon {
  background-image: url("/assets/images/patient-icon.png");
}

.doctor-icon {
  background-image: url("/assets/images/doctor-icon.png");
}

.on-mouse-hover {
  cursor: pointer;
}
