<div class="container mx-auto mt-3">
    <app-page-header title="Pacientes"></app-page-header>
    <div class="row d-flex justify-content-between">
        <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Pesquisar paciente</mat-label>
                <input matInput placeholder="Pesquisar paciente" [(ngModel)]="patientQuery"
                    (ngModelChange)="fetchPatients()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-2">
            <button class="w-100" mat-flat-button color="primary" routerLink="/novo-paciente">ADICIONAR</button>
        </div>
    </div>
    <div class="mt-4 border">
        <table mat-table [dataSource]="patients">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Paciente</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="document">
                <th mat-header-cell *matHeaderCellDef>CPF</th>
                <td mat-cell *matCellDef="let element">{{element.document}}</td>
            </ng-container>

            <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef>Telefone</th>
                <td mat-cell *matCellDef="let element">{{element.telephone}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Endereço</th>
                <td mat-cell *matCellDef="let element">{{element.address}}</td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef>Gênero</th>
                <td mat-cell *matCellDef="let element">{{element.gender.value}}</td>
            </ng-container>

            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef>Observações</th>
                <td mat-cell *matCellDef="let element">{{element.notes}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Ações</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="goToDetails(row)">
                            <mat-icon>info</mat-icon>
                            <span>Visualizar</span>
                        </button>
                        <button mat-menu-item (click)="openDeleteDialog(row)">
                            <mat-icon>delete</mat-icon>
                            <span>Remover</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator itemsPerPageLabel="Itens por página" showFirstLastButtons [length]="100" [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50, 75, 100]" aria-label="Itens por página">
        </mat-paginator>
    </div>
</div>